<div class="dashboard-wrapper">
    <div [class.dashboard-content]="currentConditions">
        <h1 class="dashboard-title">Weather Forecast Dashboard</h1>
        <div class="dashboard-row" [class.dashboard-center]="!currentConditions">
            <div class="search-content">
                <app-search></app-search>
            </div>
        </div>
    </div>
    <div *ngIf="currentConditions" class="forecast">
        <div class="cards">>
            <app-current-day-forecast [forecast]="currentConditions"
                [next3days]="conditions"></app-current-day-forecast>
        </div>
        <div class="map-container">
            <app-map></app-map>
        </div>
    </div>
</div>